
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(../images/img03.gif) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	//color: #787878;
}

h1,h2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #000000;
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.5em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #7EAD01;
}

a:hover {
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	clear: both;
	width: 981px;        
	margin: 0 auto;
	padding: 0px;
        position: relative;
	//background: url(../images/DSC08782.jpg) no-repeat left top;
}

#Espacio {
	height: 12%;
}

#Espacio2 {
	height: 6%;
}

/* Menu */
#menu {
	width: 940px;
	height: 7%;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 35px;
	margin-right: 1px;
	padding: 16px 40px 0px 40px;
	background: url(../images/img04.gif) no-repeat right top;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: url(../images/img05.gif) repeat-x left top;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/*menu desplegable*/
#colorNav > li {
    float:left;
}
 
#colorNav li a {
  
    color:#000;
    display:block;
    //border:1px solid;
    //padding:10px 12px;
}
 
#colorNav li a:hover {
  
}

#colorNav li ul {
    display: none;
    position: absolute;
    width: 280px;
    top: 52px;
    background: #F2F2F2;
}

#colorNav li:hover > ul {
    display:block;
    z-index: 9999;
}

#colorNav li ul li {
    position:relative;
    width: 280px;
}
 
#colorNav li ul li ul {
    right:-280px;
    top:0;
}
/*fin menu desplegable*/


/* Page */

#page {
	width: 970px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#page-bgtop {
	padding: 20px 0px;
}

#page-bgbtm {
}

/* Sidebar */

#sidebar {
	float: left;
	width: 280px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	background: url(../images/img02.gif) repeat-x left bottom;
	margin: 0px 30px;
	border-left: none;
}

#sidebar li li a {
	padding-left: 10px;
	background: url(../images/img01.gif) no-repeat left 6px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	font-size: 1.8em;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #8A8A8A;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #ECECEC;
	border-top: 1px solid #DEDEDE;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	color: #8A8A8A;
}

ul,
ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.menu {
    width: auto;
    height: auto;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}
.menu > li > a {
    background-color: #ECECEC;//FONDO
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(224, 224, 224)),to(rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top, rgb(224, 224, 224), rgb(255, 255, 255));
    background-image: -moz-linear-gradient(top, rgb(224, 224, 224), rgb(255, 255, 255));
    background-image: -o-linear-gradient(top, rgb(224, 224, 224), rgb(255, 255, 255));
    background-image: -ms-linear-gradient(top, rgb(224, 224, 224), rgb(255, 255, 255));
    background-image: linear-gradient(top, rgb(224, 224, 224), rgb(255, 255, 255));
    //filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#727a86', EndColorStr='#505864');
    border-bottom: 1px solid #000;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
    -moz-box-shadow: inset 0px 1px 0px 0px #fff;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;//SOMBRA
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-weight: 600;
    color: #000;//color letra
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
}

.menu > li > a {//anchura
    height: 2.75em;         /* 36/13 ≈ 2.75*/
    line-height: 2.75em;    /* 36/13 ≈ 2.75*/
    text-indent: 2.75em;    /* 36/13 ≈ 2.75*/
}

/* submenus */
.menu ul li a {
    background: #6ad2ef;
    border-bottom: 1px solid #efeff0;
    width: 100%;
    height: 2.75em;
    line-height: 2.75em;
    text-indent: 2.75em;
    display: block;
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.923em;
    font-weight: 400;
    color: #ECECEC;
}
.menu ul li:last-child a {
    border-bottom: 1px solid #33373d;
}

.menu > li > a:hover, 
.menu > li > a.active {
    background-color: #7EAD01;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(76, 153, 0)),to(rgb(102, 204, 0)));
    background-image: -webkit-linear-gradient(top, rgb(76, 153, 0), rgb(102, 204, 0));
    background-image: -moz-linear-gradient(top, rgb(76, 153, 0), rgb(102, 204, 0));
    background-image: -o-linear-gradient(top, rgbrgb(76, 153, 0), rgb(102, 204, 0));
    background-image: -ms-linear-gradient(top, rgb(76, 153, 0), rgb(102, 204, 0));
    background-image: linear-gradient(top, rgb(76, 153, 0), rgb(102, 204, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#45c7eb', EndColorStr='#2698db');
    border-bottom: 1px solid #103c56;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
    box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
.menu > li > a.active {
    border-bottom: 1px solid #1a638f;
}

.imagen {
    margin-top: -30px;
    width: 981px;
    height: 330px;
}

.imagen2 {
    margin-top: 10px;
    width: 55%;
    height: 35%;
}

.alinia1{
    width: 970px;
    height:25px;
    float:left;
    display: inline;
}

.alinia2{
    width: 485px;
    height:25px;
    float:left;
    display: inline;
}

.alinia3{
    width: 323px;
    height:25px;
    float:left;
    display: inline;
}

.buscar{   
    width: 100%;
    height: 3%;
    text-align: center;
    font-size: 1.5em;
    color: #FFFFFF;
    background: #7EAD01;
}

.FondoTE{
    background: #E2E2E2;
    color: #000;
}

.FondoTC{
   background: #7EAD01; 
   color: #FFFFFF;
}

.FondoTC2{
   background: #B1CE66; 
   color: #000;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	//background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	//background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.myButton:active {
	position:relative;
	top:1px;
}


.myButton2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	//background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
        display: inline;
}
.myButton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	//background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.myButton3 {
	-moz-box-shadow:inset 0px 1px 0px 0px #F7BE81;
	-webkit-box-shadow:inset 0px 1px 0px 0px #F7BE81;
	box-shadow:inset 0px 1px 0px 0px #F7BE81;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FE9A2E), color-stop(1, #FF8000));
	background:-moz-linear-gradient(top, #FE9A2E 5%, #FF8000 100%);
	background:-webkit-linear-gradient(top, #FE9A2E 5%, #FF8000 100%);
	background:-o-linear-gradient(top, #FE9A2E 5%, #FF8000 100%);
	background:-ms-linear-gradient(top, #FE9A2E 5%, #FF8000 100%);
	//background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FE9A2E', endColorstr='#FF8000',GradientType=0);
	background-color:#FE9A2E;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #FF8000;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
        display: none;
}

.myButton3:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FF8000), color-stop(1, #FE9A2E));
	background:-moz-linear-gradient(top, #FF8000 5%, #FE9A2E 100%);
	background:-webkit-linear-gradient(top, #FF8000 5%, #FE9A2E 100%);
	background:-o-linear-gradient(top, #FF8000 5%, #FE9A2E 100%);
	background:-ms-linear-gradient(top, #FF8000 5%, #FE9A2E 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8000', endColorstr='#FE9A2E',GradientType=0);
	background-color:#FF8000;
}

.myButton3:active {
	position:relative;
	top:1px;
}


.myButtonO {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	//background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
        display:none;
}
.myButtonO:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
}
.myButtonO:active {
	position:relative;
	top:1px;
}

@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #fff;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
}

.option-input:hover {
  background: #848484;
}

.option-input:checked {
  background: #0080FF;
}

.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #2ECCFA;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}